%h1= request.path_info

%p
  %a{ :href => "/pokedex/new" } Add a Pokemon

- if pokemons.any?
  %table{ :class => 'table' }
    %tr
      %th
      %th Name
      %th Types
      %th Abilities
      %th Actions
      - pokemons.each do |pokemon|
        %tr
          %td
            %img{ :src => pokemon.img, :width => 100 }
          %td= pokemon.name
          %td= pokemon.types.join(', ')
          %td= pokemon.abilities.join(', ')
          %td
            .btn-group
              .btn
                %a{ :href => "/pokedex/#{pokemon.id}" } Show
              .btn
                %a{ :href => "#", :class => "delete-pokemon", :"data-id" => pokemon.id } Delete
- else
  %p No pokemon found.

%script{ :type => "text/javascript", :src  => "/assets/components/jquery/jquery.min.js" }
%script{ :type => "text/javascript", :src  => "/assets/javascripts/pokemons/list.js" }